h1,
h2,
h3,
h4,
h5,
p,
a,
li {
    font-family: $font-family;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

p,
li,
a {
    font-size: $font-size-p;
}