.turnCard {
    color: white;
    align-self: flex-end;
    padding-top: 3rem;
    cursor: pointer;
}

.expand-arrow {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 2;
    color: $gunmetal;
    font-size: $font-size-p;
    cursor: pointer;
}

.fa-window-close {
    color: white;
    font-size: $font-size-p;
    align-self: flex-end;
    padding: $padding;
}