.turnCard {
    color: white;
    align-self: flex-end;
    padding-top: 1rem;
    cursor: pointer;
}

.expand-arrow {
    position: fixed;
    right: clamp(1rem, 25vw, 1.5rem);
    top: clamp(0.5rem, 20vw, 0.5rem);
    z-index: 2;
    color: $beau-blue;
    font-size: $font-size-p;
    cursor: pointer;
}

.fa-window-close {
    color: white;
    font-size: $font-size-p;
    align-self: flex-end;
    padding: clamp(0.5rem, 2vw, 0.7rem);
}


.imgIcon {
    height: 20px;
    width: 20px;
    background-color: $beau-blue;
}


.iconStack,
.iconPreprocessor {
    color: $beau-blue;
    font-size: $font-size-icon;
}


.contactIcon{
    color: $pewter-blue;
    font-size: $font-size-icon;
}