$titleColor-on-dark-background: #E3FDE8;
$dark-background: #121F33;
$light-background: #e9e9e9;
$grey-panel: #C4C4C6;
$textColor-light-background: #121F33;
$textColor-dark-background: #E3FDE8;
$font-family: 'Abril Fatface', cursive;



$breakpoints: (
    "mobile-min-width": 320px,
    "mobile-max-width": 640px,
    "tablet-min-width": 641px,
    "tablet-max-width": 1007px,
    "desktop-min-width": 1008px,
    "desktop-max-width": 1200px
);

