$dark-background: #121F33;
$textColor-light-background: #121F33;
$font-family: 'Montserrat', sans-serif;
// $baseline: 12px; ???

$cardsShadow: -5px 5px 10px rgb(0, 0, 0);
$text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
$backCardsShadow: -2px 2px 15px rgb(0, 0, 0);
$TrainingCardRadius: 1rem;

/* min/max width & min/max height */
$trainingCards-width: clamp(17rem, 35vw, 30rem);
$trainingCards-height: clamp(20rem, 43vh, 30rem);


$experienceCards-width: clamp(16rem, 35vw, 30rem); 
$experienceCards-height: clamp(20rem, 43vh, 30rem);
$marginBetweenCards: clamp(0.5rem, 40vw, 1rem); 


/* font size, padding, margin*/
$font-size-p: clamp(0.9rem, 2vw, 1rem);
// $font-size-h1: clamp(1.3rem, 2vw, 1.4em);

$font-size-h2: clamp(1.5rem, 2vw, 2rem);
$font-size-h3: clamp(1.1rem, 2vw, 1.2em);
$font-size-h4: clamp(1.1rem, 2vw, 1.2em);

$font-size-button: clamp(0.8rem, 2vw, 1rem);
$padding: clamp(0.5rem, 1vw, 0.7rem); 
$marginAroundTitle: clamp(1rem, 2vw, 1.5rem); 


/*Breakpoints*/
$breakpoints: (
    "mobile-min-width": 320px,
    "mobile-max-width": 600px,
    "tablet-min-width": 600px,
    "tablet-max-width": 1024px,
    "desktop-min-width": 1024px,
    "desktop-max-width": 1200px
);

/* Rotation*/
$rotateY180: rotateY(180deg);
$rotateY-180: rotateY(-180deg);




/* SCSS HEX */
$gunmetal: #253443ff;
$blue-sapphire: #2B5068ff;
$charcoal: #263B4Fff;
$charcoal-2: #2E495Dff;
$beau-blue: #C1D1D9ff;
$pewter-blue: #8AA8B6ff;
$charcoal-3: #29455Bff;

/* SCSS RGB */
$gunmetal: rgba(37, 52, 67, 1);
$blue-sapphire: rgba(43, 80, 104, 1);
$charcoal: rgba(38, 59, 79, 1);
$charcoal-2: rgba(46, 73, 93, 1);
$beau-blue: rgba(193, 209, 217, 1);
$pewter-blue: rgba(138, 168, 182, 1);
$charcoal-3: rgba(41, 69, 91, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #253443ff, #2B5068ff, #263B4Fff, #2E495Dff, #C1D1D9ff, #8AA8B6ff, #29455Bff);
$gradient-right: linear-gradient(90deg, #253443ff, #2B5068ff, #263B4Fff, #2E495Dff, #C1D1D9ff, #8AA8B6ff, #29455Bff);
$gradient-bottom: linear-gradient(180deg, #253443ff, #2B5068ff, #263B4Fff, #2E495Dff, #C1D1D9ff, #8AA8B6ff, #29455Bff);
$gradient-left: linear-gradient(270deg, #253443ff, #2B5068ff, #263B4Fff, #2E495Dff, #C1D1D9ff, #8AA8B6ff, #29455Bff);
$gradient-top-right: linear-gradient(45deg, #253443ff, #2B5068ff, #263B4Fff, #2E495Dff, #C1D1D9ff, #8AA8B6ff, #29455Bff);
$gradient-bottom-right: linear-gradient(135deg, #253443ff, #2B5068ff, #263B4Fff, #2E495Dff, #C1D1D9ff, #8AA8B6ff, #29455Bff);
$gradient-top-left: linear-gradient(225deg, #253443ff, #2B5068ff, #263B4Fff, #2E495Dff, #C1D1D9ff, #8AA8B6ff, #29455Bff);
$gradient-bottom-left: linear-gradient(315deg, #253443ff, #2B5068ff, #263B4Fff, #2E495Dff, #C1D1D9ff, #8AA8B6ff, #29455Bff);
$gradient-radial: radial-gradient(#253443ff, #2B5068ff, #263B4Fff, #2E495Dff, #C1D1D9ff, #8AA8B6ff, #29455Bff);