.contactMainSection {
    @include mainSection-measurementsInViewH-W;
    background-color: $dark-background;
    @include flex-column-contentCenter-itemsCenter;
}

.containerOverallContactElement {
    display: flex;
    height: 60%;
    width: 90%;
    margin-top: 5%;
}

.sideOne {
    width: 50%;
    border-radius: 30% 0 0 0;
    background-image: url('../lib/images/bg.jpg');
    @include parallaxImageContact;

    @include media-mobile {
        @supports (-webkit-overflow-scrolling: touch) {
            .sideOne {
                background-size: 0 0;
            }

            &::before {
                content: "";
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-image: inherit;
                background-size: cover;
                background-position: inherit;
                background-repeat: inherit;
                position: fixed;
                z-index: -1;
            }
        }
    }

    // @include media-tablet {
    //     @supports (-webkit-overflow-scrolling: touch) {
    //         .sideOne {
    //             background-size: 0 0;
    //         }

    //         &::before {
    //             content: "";
    //             top: 0;
    //             left: 0;
    //             bottom: 0;
    //             right: 0;
    //             background-image: inherit;
    //             background-size: cover;
    //             background-position: inherit;
    //             background-repeat: inherit;
    //             position: fixed;
    //             z-index: -1;
    //         }
    //     }
    // }
}

.contactInformations {
    @include flex-column-contentSpacedEvenly;
    width: 50%;
    height: 100%;
    @include glassContactBox;
    border-radius: 0 0 30% 0;

}

.phone,
.location,
.email,
.github,
.linkedin {
    @include flex-row-spaceEvenly-itemCenter;
    margin: 0.6rem;
}

.contact,
.contactData {
    color: $text-color;
}

.contactDataHref {
    color: $text-color;
    text-decoration: none;
}