.contactMainSection {
    @include mainSection-measurementsInViewH-W;
    background-color: $dark-background;
    @include flex-column-contentCenter-itemsCenter;
}

.contactContainer {
    @include flex-column-contentCenter;
    height: 50%;
    width: 90%;
}



.contactInformations {
    @include flex-column-contentSpacedEvenly;

    width: 90%;
    height: 50%;
    overflow-y: scroll;
}

.phone, .location, .email, .github, .linkedin {
    @include flex-row-space-itemCenter;
    margin: 0.6rem;
}

.contact,
.contactData {
    color: $text-color;
}

.contactDataHref {
    color: $text-color;
    text-decoration: none;
}

.img{
    height: 10%;
    width: 100%;
    background-image: url('/images/imageForContact.png');
    @include parallaxImageContact;
}