#description {
    @include mainSection-measurementsInViewH-W;
    background-color: $dark-background;
}

.descriptionContainer {
    @include flex-column-itemsCenter;
    @include mainSection-measurementsInPercentage;
}


.informationsContainer {
    height: 85%;
    width: 100%;
    @include flex-row-space-itemCenter;
}

.identityImage {
    height: 25%;
    width: 20%;
    border-radius: 50%;
}

.skillsDescriptions{
   @include flex-column-contentSpacedEvenly;
    height: 85%;
    width: 90%;
}

.describe{
    color: $text-color;
    margin-top: 2rem;
}

.skills, .hobbyTitle{
    color: $text-color;
    padding-bottom: 0.5rem;
    text-align: center;
}

.spokenLang, .SkillsList, .hobbies{
    color: $text-color;
    text-align: center;
    padding: 0 0 0.5rem 1rem;
}

