#description {
    @include mainSection-measurementsInViewH-W;
    background-color: $dark-background;
    overflow: hidden;

    @include media-tablet {
        @include mainSection-measurementsInPercentage;
    }
}


.informationsContainer {
    @include flex-column-itemsCenter;
    @include mainSection-measurementsInViewH-W;

    @include media-mobile {
        height: 95%;
    }

    @include media-tablet {
        @include mainSection-measurementsInPercentage;
    }
}

.identityImage {
    height: 25%;
    width: 20%;
    border-radius: 50%;
}

.skillsDescriptions {
    @include flex-column-contentSpacedEvenly;
    height: 95%;
    width: 90%;

    // @include media-mobile {
    //     width: 95%;
    // }

    @include media-tablet {
        height: 95%;

    }
}

.describe {
    color: $text-color;
    margin-top: 2rem;
    text-shadow: $text-shadow;
    text-align: center;

    @include media-mobile {
        margin-top: 1rem;
        padding: 0 0.3rem 0 0.3rem;
        text-align: center;
    }

    @include media-tablet {
        margin-top: 0.5rem;
        padding: 0 0.3rem 0 0.3rem;
    }
}

.subtitle {
    color: $text-color;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem;

    @include media-mobile {
        padding: 0.3rem;
    }

    @include media-tablet {
        padding: 0.3rem;
    }
}

.skills,
.hobbyTitle {
    color: $text-color;
    padding: 0.5rem;
    text-align: center;
    text-shadow: $text-shadow;

    @include media-mobile {
        padding-top: 0.5rem;
    }

    @include media-tablet {
        padding: 0.3rem;
    }
}

.spokenLang,
.SkillsList,
.hobbies {
    color: $text-color;
    text-align: center;
    padding: 0.5rem;
    text-shadow: $text-shadow;

    @include media-mobile {
        padding: 0.2rem;
    }

    @include media-tablet {
        padding: 0.2rem;
    }
}

.listOfSkills,
.SkillsList {
    list-style-type: none;
}