.experience-container {
  @include flex-column-contentCenter-itemsCenter;
  @include mainSection-measurementsInPercentage;
  background-color: $dark-background;
  overflow: hidden;
}


.experience-title {
  justify-self: center;
  color: $dark-background;
  margin: 1.5rem;
  font-weight: 900;
  color: $text-color;
  text-shadow: $text-shadow;
}

.job-title,
.company,
.dateYear {
  transform: translateY(-10%) translateZ(80px) scale(0.94);
  padding: $padding;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: 1000px;
}



.job-title {
  padding: $padding;
  text-align: center;
}

.dateYear {
  padding: 0.2rem;
  text-align: center;
}

.dutyLists {
  list-style: none;
  text-align: justify;
  padding: $padding;
}

ul{
  height: auto;
  width: auto;
}

.experience-box {
  @include media-mobile {
    width: 90%;
  }

  @include media-tablet {
    width: 95%;
  }

  @include media-desktop {
    width: 95%;
  }

  @include flex-flexWrap-contentCenter;
  height: 90%;
  max-width: map-get($breakpoints, desktop-max-width);
  margin-bottom: 1rem;
}


.CardBox {
  height: $experienceCards-height;
  width: $experienceCards-width;
  margin: $marginBetweenCards;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;

}


.experience {
  position: relative;
  @include mainSection-measurementsInPercentage;
  text-align: center;
  transition: transform 400ms cubic-bezier(0.4, 0.2, 0.2, 1);
  transform-style: preserve-3d;
  @include backface-visibility;
}

.showBackCard {
  transform-style: preserve-3d;
  transform: $rotateY180;
}

.frontCard,
.backCard {
  position: absolute;
  left: 0;
  top: 0;
  @include mainSection-measurementsInPercentage;
  text-align: center;
  border-radius: $CardRadius;
  transform: translate3d(0, 0px, 0px) perspective(200px);
  @include backface-visibility;
  transition-delay: 300ms
}

.frontCard {
  @include flex-column-contentSpacedArround-itemCenter;
  color: $text-color;
  padding: $padding;
  z-index: 2;
  border-radius: $CardRadius;
  @include cardShadow;

}

.backCard {
  @include flex-column-contentSpacedEvenly;
  color: white;
  transform: $rotateY180;
  padding: $padding;
  border-radius: $CardRadius;
  text-align: center;
  @include glassCard;
}

.btn {
  color: $text-color;
  padding: $padding;
  font-size: $font-size-button;
  border-radius: $button-radius;
  cursor: pointer;
  background: $dark-background;
  @include buttonShadow;

  &:active {
    @include buttonShadowaActive;
  }
}