.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.experience-title {
  @include media-mobile {
    font-size: clamp(0.5rem, 1.3rem, 1.5rem);
    text-shadow: none;
    margin: 0.5rem;
  }

  @include media-tablet {
    font-size: clamp(1.4rem, 1.6rem, 1.8rem);
    text-shadow: none;
  }
  
  justify-self: center;
  color: $dark-background;
  margin: 0 8px 24px 8px;
  font-size: 2em;
  font-weight: 900;
  font-family: $font-family;
  text-shadow: 0px 0px 0 rgb(26, 63, 87),
  0px -1px 0 rgb(17, 54, 78),
  0px -2px 0 rgb(7, 44, 68),
  0px -3px 0 rgb(-2, 35, 59),
  0px -4px 0 rgb(-11, 26, 50),
  0px -5px 4px rgba(41, 69, 91, 1),
  0px -5px 1px rgba(41, 69, 91, 0.5),
  0px 0px 4px rgba(41, 69, 91, .2);
}

.job-title,
.company,
.dateYear {

  @include media-mobile {
    padding: clamp(0.2rem, 0.4rem, 0.7rem);
  }

  font-family: $font-family;
  transform: translateY(-10%) translateZ(80px) scale(0.94);
  padding: clamp(0.5rem, 0.9rem, 1rem);
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: 1000px;
}

.company {
  @include media-mobile {
    font-size: clamp(0.7em, 1em, 1.2em);
  }

  font-size: clamp(1em, 1.2em, 1.3em);

}

.job-title {
  @include media-mobile {
    font-size: clamp(0.7em, 1em, 1.2em);
  }

  font-size: clamp(1em, 1.3em, 1.5em);
  padding: 5px;
  text-align: center;
}

.dateYear {
  @include media-mobile {
    font-size: clamp(0.7em, 0.9em, 1em);
  }

  font-size: clamp(0.9em, 1em, 1.1em);
  padding: 0.2rem;
  text-align: center;
}

.dutyLists {
  @include media-mobile {
    font-size: clamp(0.7em, 0.8em, 1em);
    padding: 0.3rem; 
  }

  list-style: none;
  font-family: $font-family;
  text-align: justify;
  font-size: 1em;
  padding: 0.4rem;
}


.experience-box {
  @include media-mobile {

    width: 100%;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 90%;
  width: 85%;
}


.CardBox {
  @include media-mobile {
    height: 32vh;
    min-width: 75vw;
    max-width: 80vw;
    margin: 0.7em;
  }

  height: 36vh;
  width: 29vw;
  margin: 16px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
}


.experience {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;

}

.showBackCard {
  transform-style: preserve-3d;
  transform: rotateY(180deg);

}

.frontCard,
.backCard {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 300ms cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  border-radius: 10px;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  transform: translate3d(0, 0px, 10px) perspective(500px);

  @include media-mobile {
    height: 100%;
  
  }

}

.frontCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 8px;
  z-index: 2;
  background-color: $dark-background;
  box-shadow: -5px 5px 15px rgb(0, 0, 0);
  border-radius: 16px;


}

.backCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: $dark-background;
  color: white;
  transform: rotateY(180deg);
  border-radius: 8px 8px 0 0;
  padding: 8px;
  box-shadow: 0px 5px 20px $blue-sapphire;
  border-radius: 16px;
}



.btn {
  @include media-mobile {
    font-size: clamp(0.5em, 0.9em, 1.1em); 
    padding: 0.4rem; 
  }
  
  @include media-tablet {
    
  }
  width: auto;
  height: auto;
  font-size: 1.1em;
  padding: 8px;
  font-family: $font-family;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: $charcoal;
  color: white;

  &:focus {
    border-style: none;
  }

  &:active {
    border-style: none;
  }
}