#landing-page {
    @include mainSection-measurementsInViewH-W;
    background-color: $dark-background;
}

.container {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &__background {

        height: 100vh;
        width: 100vw;
        background-image: url('/images/bg.jpg');
        background-position: center;
        -webkit-filter: drop-shadow(0px 25px 4px rgba(0, 0, 0, 0.15));
        filter: drop-shadow(0px 25px 4px rgba(0, 0, 0, 0.15));
        background-size: cover;
        -webkit-animation: background 0.7s ease-in;
        animation: background 0.7s ease-in;

        @-webkit-keyframes background {
            0% {
                opacity: 0.2;
            }

            25% {
                opacity: 0.4;
            }

            50% {
                opacity: 0.6;
            }

            100% {
                opacity: 0.8;
            }
        }

        @keyframes background {
            0% {
                opacity: 0.2;
            }

            25% {
                opacity: 0.4;
            }

            50% {
                opacity: 0.6;
            }

            100% {
                opacity: 0.8;
            }
        }

    }
}

.content {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texts {
    color: white;
    width: 90vw;
    text-align: center;
}

.overflow {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}

.text {
    display: inline-block;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
    margin: 0.2rem;
    padding: clamp(0.3rem, 1vw, 0.5rem);
    font-size: $font-size-h1;
}

.nextPageButton{
    position: absolute;
    top: 80%; 
}