.projectMainContainer {
    @include mainSection-measurementsInPercentage;
    background-color: $dark-background;
}

.projectContainer {
    @include flex-column-contentCenter-itemsCenter;

    &__title {
        margin-top: 2rem;
        color: $text-color;
        text-shadow: $text-shadow;
    }
}

.projectCarousel {
    height: 80%;
    width: 100%;

}

.carouselContainer {
    max-width: 1000px;
    position: relative;
    margin-bottom: 1rem;
    @include flex-column-contentCenter-itemsCenter;
}

.projectItem {
    display: none;
    width: 95%;
    margin: 1rem;

    &__projectName {
        color: $pewter-blue;
        margin-top: 1rem;
    }

    &__projectDescription {

        color: $pewter-blue;
        padding: $padding;
        text-align: center;
    }

    &__imageProjectsGallery {
        border-radius: $CardRadius;
        @include flex-column-contentCenter-itemsCenter;
        width: 90%;
        height: 60%;
    }


}

.projectVisual {
    width: 80%;
    height: $projectCard-projectImage-height;
    margin-top: $marginAroundTitle;
    border-radius: 1rem;
    -o-object-fit: contain;
    object-fit: contain;
    box-shadow: $cardsShadowImage;

    @include mobile-maxOnly {
        height: 45vh;
        width: 90%;
        -o-object-fit: cover;
        object-fit: contain;
    }

    @include media-tablet {
        height: 55vh;
        width: 80%;
        -o-object-fit: contain;
        object-fit: contain;
    }

}


.stacks {
    color: $pewter-blue;
    padding: $padding;
    text-align: center;
}

.showGalery {
    display: block;
    @include flex-column-contentCenter-itemsCenter;
    width: 100%;
    height: auto;
}

.dotContainer {
    position: absolute;
    bottom: 0.2rem;
    cursor: pointer;
    width: 90%;
    height: 2rem;
    display: inline-block;
    transition: background-color 0.6s ease;
    @include flex-row-contentCenter-itemCenter;
}

.dot {
    height: $dotHeight;
    width: $dotWidth;
    background-color: $dark-background;
    border-radius: 30%;
    margin: 0.5rem;
    text-align: center;
    padding: 0.1rem;
    box-shadow: $cardsShadowDots;
    transition: background-color 0.6s ease;
    color: $text-color;

    &:hover,
    &:active {
        background-color: $charcoal-3;
        transform: scale(1.2);
    }
}

.fade {
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}