.projectMainContainer {
    @include mainSection-measurementsInPercentage;
    background-color: $dark-background;
}

.projectContainer {
    @include flex-column-contentCenter-itemsCenter;

    &__title {
        margin-top: 2rem;
        color: $text-color;
        text-shadow: $text-shadow;
    }
}

.cardContainer {
    @include flex-flexWrap-Start-itemCenter;
    height: 90%;
    width: 100%;
    margin-top: 1rem;
    overflow: hidden;
}


.cardItems {
    width: $ProjectCards-width;
    height: $ProjectCards-height-after;
    @include flex-column-contentCenter-itemsCenter;
    @include projectCardShadowDesign;
    text-align: center;
    margin: 2rem 1rem 2rem 1rem;

}

.logoOfProject {
    height: 10%;
    width: 20%; 
}


.projectData {
    @include shadowTextInProjectCard;
    height: 90%;
    @include flex-column-contentSpacedEvenly;
}

.projectName, 
.projectDescription, 
.stacks{
    padding: $padding;
}

.githubLink {
    background-color: $dark-background;
    @include buttonShadow;
    color: $text-color;
    font-family: $font-family;
    font-size: $font-size-button;
    padding: $padding;
    border-radius: $button-radius;
    cursor: pointer;
    
    &:active {
        @include buttonShadowaActive;
    }
}