.stacksMainContainer {
    @include mainSection-measurementsInViewH-W;
    background-color: $dark-background;
    @include flex-column-itemsCenter;
    overflow: hidden;
}

.titleStacks {
    color: $text-color;
    text-shadow: $text-shadow;
    margin: 1.5rem 0 0.7rem 0;
    text-align: center;
    padding: 0 0.5rem 0 0.5rem;
}

.programmingLangContainer,
.frameworksContainer,
.DevAndTemplateTools,
.toolsContainer,
.overallToolsContainer {
    @include flex-row-space-itemCenter;
    flex-wrap: wrap;
    height: 27%;
    width: 90%;

    &__data {
        @include flex-column-contentCenter-itemsCenter;
        width: auto;
        margin: 1rem;
    }
}

.databaseContainer {
    @include flex-row-space-itemCenter;
    height: 15%;
    width: 45%;
}

.lang,
.name {
    color: $text-color;
    padding-bottom: 1rem;
}

.databaseTool {
    color: $text-color;
    padding: 0 0.3rem 1rem 0.3rem;
}

.nameDatabase {
    color: $text-color;
    padding: 0 0.3rem 1rem 0.3rem;
}