.trainingMainContainer {
    @include flex-column-contentCenter-itemsCenter;
    @include mainSection-measurementsInViewH-W;
    background-color: #121F33;
}

.trainingCardsContainer {
    position: relative;
    top: 0;
    @include flex-flexWrap-contentCenter-itemCenter;
    width: 90%;
    height: 90%;
    margin-bottom: $marginAroundTitle;

}

.titleTraining {
    font-size: $font-size-h2;
    margin: $marginAroundTitle;
    font-family: $font-family;
    color: $beau-blue;
    text-shadow: $text-shadow;
}

.trainingCard {
    @include flex-column-contentCenter;

    margin: $marginBetweenCards;
    width: $trainingCards-width;
    height: $trainingCards-height;
    background-image: url("/images/cardsBackground.svg");
    background-size: cover;
    border-radius: $TrainingCardRadius;
    box-shadow: $cardsShadow;

    &:hover {
        box-shadow: 0 10px 20px 10px rgba(black, 0.2);
    }


    &__entityIcon {
        position: absolute;
        top: 0;
        left: 0;
        transition: all .3s ease-in-out;

        .iconEntity {
            height: clamp(3rem, 20vh, 5rem);
        }

        .trainingCard:hover & {
            opacity: 0;
            transform: scale(0);
        }
    }


    &__informations {
        position: relative;
        @include flex-column-contentFlexEnd;
        height: clamp(10rem, 40vw, 20rem);

        &-entity,
        .turnCard {
            @include flex-column-contentCenter;
            opacity: 0;
            position: absolute;
            right: 25%;
            top: 25%;
            width: 50%;
            height: 30%;

            .trainingCard:hover & {
                opacity: 1;
                transform: scale(1.2);
                text-align: center;
            }
        }

        &-title {
            font-family: $font-family;
            font-size: $font-size-h3;
            color: white;
            text-shadow: $text-shadow;
        }
    }

    &__modal {
        position: absolute;
        top: 0;
        left: 17%;
        width: 60vw;

        @include flex-flexWrap-contentCenter-itemCenter;
        z-index: 3;
        background-color: rgba(41, 69, 91, 0.9);
        border-radius: $TrainingCardRadius;
    }
}

.backOfCard {
    position: relative;
    @include flex-column-contentCenter-itemsCenter;
    transform-style: preserve-3d;
    transform: $rotateY180;
    background-color: $dark-background;
    box-shadow: $backCardsShadow;
    border-radius: $TrainingCardRadius;
    width: $trainingCards-width;
    height: $trainingCards-height;
}

.trainingDatas {
    position: absolute;
    transform: translate3d(0, 0, 0);
    transform: $rotateY-180;
    @include backface-visibility;
    width: $trainingCards-width;
    height: $trainingCards-height;

    &__trainingCompleted {
        // width: $trainingCards-width;
        // height: $trainingCards-height;
        height: 15vh;
        cursor: pointer;
    }
}

.frontTrainingCard {
    @include backface-visibility;
    transform: translate3d(0, 0, 0);
}



.openModal {
    position: relative;
    top: 0;
    left: 0;
    height: 25vh;
    @include backface-visibility;
    @include flex-column-contentCenter;
}

.imageForModal {
    height: 22vh;
    width: 55vw;
    border: 1px solid yellow;
    @include flex-column-contentCenter;
}

.expandedImage {

    max-width: 95%;
    height: 100%;
    padding: 0.9em;
    align-self: center;
}