.trainingMainContainer {
    @include flex-column-contentCenter-itemsCenter;
    background-color: #121F33;
    position: relative;
    overflow: hidden;

    &__modal {
        @include flex-flexWrap-contentCenter-itemCenter;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-height: 65%;
        z-index: 3;
        background-color: rgba(41, 69, 91, 0.9);
        border-radius: $CardRadius;

        @include media-mobile {
            top: auto;
            left: 50%;
            width: 95%;
            max-height: 25%;
            transform: translate(-50%, 10%);
        }

        @include media-tablet {
            top: auto;
            left: 50%;
            width: 90%;
            transform: translate(-50%, 18%);
        }
    }
}

.trainingCardsContainer {
    @include flex-flexWrap-contentCenter-itemCenter;
    width: 90%;
    height: 90%;
    margin-bottom: $marginAroundTitle;
}

.titleTraining {
    font-size: $font-size-h2;
    margin: $marginAroundTitle;
    font-family: $font-family;
    color: $beau-blue;
    text-shadow: $text-shadow;
}

.trainingCard {
    @include flex-column-contentCenter;

    margin: $marginBetweenCards;
    width: $trainingCards-width;
    height: $trainingCards-height;
    background-image: url("/images/cardsBackground.svg");
    background-size: cover;
    border-radius: $CardRadius;
    box-shadow: $cardsShadow;

    &:hover {
        box-shadow: 0 10px 20px 10px rgba(black, 0.2);
    }


    &__entityIcon {
        position: absolute;
        top: 0;
        left: 0;
        transition: all .3s ease-in-out;

        .iconEntity {
            height: clamp(3rem, 20vh, 5rem);
        }

        .trainingCard:hover & {
            opacity: 0;
            transform: scale(0);
        }
    }


    &__informations {
        position: relative;
        @include flex-column-contentFlexEnd;
        height: clamp(20rem, 15vw, 25rem);

        &-entity,
        .turnCard {
            align-self:center;
            opacity: 0;
            width: auto;
            height: 40%;

            .trainingCard:hover & {
                opacity: 1;
                transform: scale(1.1);
                text-align: center;
            }
        }

        &-title {
            font-family: $font-family;
            font-size: $font-size-h3;
            color: white;
            text-shadow: $text-shadow;
        }

        &-field {
            align-self: center;
            color: white;
            font-family: $font-family;
            font-size: $font-size-h4;
            text-align: center;
        }

        &-dates {
            align-self: center;
            color: white;
            font-family: $font-family;
            font-size: $font-size-p;
            padding: $padding;
        }
    }

}

.backOfCard {
    position: relative;
    @include flex-column-contentCenter-itemsCenter;
    transform-style: preserve-3d;
    transform: $rotateY180;
    background-color: $dark-background;
    box-shadow: $backCardsShadow;
    border-radius: $CardRadius;
    width: 100%;
    height: 100%;
}

.trainingDatas {
    position: absolute;
    top: auto;
    transform: translate3d(0, 0, 0);
    transform: $rotateY-180;
    @include backface-visibility;
    @include flex-column-contentCenter;
    width: 99%;
    height: $trainingCards-height;

    &__trainingCompleted {
        align-self: center;
        width: 80%;
        height: 85%;
        cursor: pointer;
    }
}

.frontTrainingCard {
    @include backface-visibility;
    transform: translate3d(0, 0, 0);
}

.openModal {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include flex-column-contentCenter;
}

.imageForModal {
    height: 100%;
    width: 100%;
    @include flex-column-contentCenter;
}

.expandedImage {
    width: 100%;
    height: 90%;
    padding: 1rem;
    align-self: center;
}