* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app, body {
  overflow-x: hidden;
}

/* min/max width & min/max height */
/* font size, padding, margin*/
/*Breakpoints*/
/* Rotation*/
/* SCSS HEX */
.turnCard {
  color: #c1d1d9;
  align-self: flex-end;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  background-color: transparent;
  border-radius: 100%;
  box-shadow: 1.5px 1.5px 3px #0d1624, -1.5px -1.5px 3px rgba(95, 94, 94, 0.25), inset 0px 0px 0px #0d1624, inset 0px 0px 0px #5f5e5e;
  transition: all ease 0.2s;
}
.turnCard:active {
  box-shadow: 0px 0px 0px #0d1624, 0px 0px 0px rgba(95, 94, 94, 0.25), inset 1.5px 1.5px 3px #0d1624, inset -1.5px -1.5px 3px #5f5e5e;
}

.expand-arrow {
  position: fixed;
  right: clamp(1rem, 25vw, 1.5rem);
  top: clamp(0.5rem, 20vw, 0.5rem);
  z-index: 2;
  color: #c1d1d9;
  font-size: clamp(0.9rem, 2vw, 1rem);
  cursor: pointer;
  background-color: #0d1624;
  border-radius: 100%;
  cursor: pointer;
  padding: 5px;
  box-shadow: 1.5px 1.5px 3px #0d1624, -1.5px -1.5px 3px rgba(95, 94, 94, 0.25), inset 0px 0px 0px #0d1624, inset 0px 0px 0px #5f5e5e;
}

.fa-window-close {
  color: #c1d1d9;
  font-size: clamp(0.9rem, 2vw, 1rem);
  align-self: flex-end;
  padding: clamp(0.5rem, 2vw, 0.7rem);
  background-color: #0d1624;
  border-radius: 100%;
  cursor: pointer;
  padding: 5px;
  box-shadow: 1.5px 1.5px 3px #0d1624, -1.5px -1.5px 3px rgba(95, 94, 94, 0.25), inset 0px 0px 0px #0d1624, inset 0px 0px 0px #5f5e5e;
}

.imgIcon {
  height: 20px;
  width: 20px;
  background-color: #c1d1d9;
}

.iconStack,
.iconPreprocessor {
  color: #c1d1d9;
  font-size: clamp(1.5rem, 2vw, 1.9rem);
}

.contactIcon {
  align-self: center;
  color: #c1d1d9;
  font-size: clamp(1.5rem, 2vw, 1.9rem);
  padding-right: 0.5rem;
}

.githubIcon {
  color: #c1d1d9;
  font-size: clamp(1.5rem, 2vw, 1.9rem);
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: clamp(2rem, 12vw, 4rem);
}

h2 {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

h3 {
  font-size: clamp(1.1rem, 2vw, 1.2rem);
}

h4 {
  font-size: clamp(1rem, 2vw, 1.1rem);
}

h5 {
  font-size: clamp(0.9rem, 2vw, 1rem);
}

p, li {
  font-size: clamp(0.9rem, 2vw, 1rem);
}

#landing-page {
  width: 100vw;
  height: 100vh;
  background-color: #121F33;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../lib/images/bg.webp");
  background-position: center;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .container {
    background-position: center;
    height: 100%;
    width: 100%;
    background-attachment: unset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texts {
  color: #c1d1d9;
  width: 90vw;
  text-align: center;
}

.overflow {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.text {
  display: inline-block;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
  margin: 0.2rem;
  padding: clamp(0.3rem, 1vw, 0.5rem);
  font-size: clamp(2rem, 12vw, 4rem);
}
@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.projectMainContainer {
  width: 100%;
  height: 100%;
  background-color: #121F33;
  overflow: hidden;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectContainer__title {
  margin-top: 2rem;
  color: #c1d1d9;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 90%;
  width: 95%;
  margin-top: 1rem;
  overflow: hidden;
}

.cardItems {
  width: clamp(20rem, 35vw, 30rem);
  height: clamp(20rem, 33vh, 30rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #16273f;
  text-align: center;
  border: 10px solid #16273f;
  border-radius: 20px;
  box-shadow: inset 5px 5px 10px rgba(18, 31, 51, 0.2901960784), inset -5px -5px 10px rgba(18, 31, 51, 0.8784313725);
  transition: 0.5s;
  text-align: center;
  margin: 1rem;
}

.projectData {
  color: #c1d1d9;
  background-color: #16273f;
  margin: 5px 20px;
  border-radius: 8px;
  box-shadow: inset 5px 5px 10px rgba(18, 31, 51, 0.2901960784), inset -5px -5px 10px rgba(18, 31, 51, 0.8784313725);
  transition: all 0.5s;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.projectName,
.projectDescription,
.stacks {
  padding: clamp(0.5rem, 1vw, 0.7rem);
}

.githubLink {
  background-color: #121F33;
  transition: all 0.5s;
  border: 1px solid #121F33;
  box-shadow: 6px 6px 12px rgba(23, 39, 64, 0.6549019608), -6px -6px 12px rgba(27, 47, 75, 0.9882352941);
  color: #c1d1d9;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.8rem, 2vw, 1rem);
  padding: clamp(0.5rem, 1vw, 0.7rem);
  border-radius: 0.5rem;
  cursor: pointer;
}
.githubLink:active {
  color: rgb(196, 196, 196);
  box-shadow: inset 4px 4px 12px rgba(23, 39, 64, 0.6549019608), inset -4px -4px 12px rgba(27, 47, 75, 0.9882352941);
}

#description {
  width: 100vw;
  height: 100vh;
  background-color: #121F33;
  overflow: hidden;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  #description {
    width: 100%;
    height: 100%;
  }
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .descriptionContainer {
    width: 100%;
    height: 100%;
  }
}

.informationsContainer {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .informationsContainer {
    height: 95%;
  }
}

.identityImage {
  height: 25%;
  width: 20%;
  border-radius: 50%;
}

.skillsDescriptions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 85%;
  width: 90%;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .skillsDescriptions {
    width: 95%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .skillsDescriptions {
    height: 95%;
  }
}

.describe {
  color: #c1d1d9;
  margin-top: 2rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .describe {
    margin-top: 1rem;
    padding: 0 0.3rem 0 0.3rem;
    text-align: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .describe {
    margin-top: 0.5rem;
    padding: 0 0.3rem 0 0.3rem;
  }
}

.subtitle {
  color: #c1d1d9;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .subtitle {
    padding: 0.3rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .subtitle {
    padding: 0.3rem;
  }
}

.skills,
.hobbyTitle {
  color: #c1d1d9;
  padding: 0.5rem;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .skills,
  .hobbyTitle {
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .skills,
  .hobbyTitle {
    padding: 0.3rem;
  }
}

.spokenLang,
.SkillsList,
.hobbies {
  color: #c1d1d9;
  text-align: center;
  padding: 0.5rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .spokenLang,
  .SkillsList,
  .hobbies {
    padding: 0.2rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .spokenLang,
  .SkillsList,
  .hobbies {
    padding: 0.2rem;
  }
}

.listOfSkills,
.SkillsList {
  list-style-type: none;
}

.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #121F33;
  overflow: hidden;
}

.experience-title {
  justify-self: center;
  color: #121F33;
  margin: 1.5rem;
  font-weight: 900;
  color: #c1d1d9;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
}

.job-title,
.company,
.dateYear {
  transform: translateY(-10%) translateZ(80px) scale(0.94);
  padding: clamp(0.5rem, 1vw, 0.7rem);
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: 1000px;
}

.job-title {
  padding: clamp(0.5rem, 1vw, 0.7rem);
  text-align: center;
}

.dateYear {
  padding: 0.2rem;
  text-align: center;
}

.dutyLists {
  list-style: none;
  text-align: justify;
  padding: clamp(0.5rem, 1vw, 0.7rem);
}

ul {
  height: auto;
  width: auto;
}

.experience-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 90%;
  max-width: 1200px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .experience-box {
    width: 90%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .experience-box {
    width: 95%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .experience-box {
    width: 95%;
  }
}

.CardBox {
  height: clamp(20rem, 43vh, 30rem);
  width: clamp(16rem, 35vw, 30rem);
  margin: clamp(0.5rem, 40vw, 1rem);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
}

.experience {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 400ms cubic-bezier(0.4, 0.2, 0.2, 1);
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

.showBackCard {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.frontCard,
.backCard {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 1rem;
  transform: translate3d(0, 0px, 0px) perspective(200px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  transition-delay: 300ms;
}

.frontCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #c1d1d9;
  padding: clamp(0.5rem, 1vw, 0.7rem);
  z-index: 2;
  border-radius: 1rem;
  background: linear-gradient(145deg, #132137, #101c2e);
  box-shadow: 10px 10px 20px #0d1624, -10px -10px 20px #172842;
}

.backCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  transform: rotateY(180deg);
  padding: clamp(0.5rem, 1vw, 0.7rem);
  border-radius: 1rem;
  text-align: center;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(37, 52, 67, 0.75);
  border: 1px solid rgba(73, 85, 98, 0.432);
}

.btn {
  color: #c1d1d9;
  padding: clamp(0.5rem, 1vw, 0.7rem);
  font-size: clamp(0.8rem, 2vw, 1rem);
  border-radius: 0.5rem;
  cursor: pointer;
  background: #121F33;
  transition: all 0.5s;
  border: 1px solid #121F33;
  box-shadow: 6px 6px 12px rgba(23, 39, 64, 0.6549019608), -6px -6px 12px rgba(27, 47, 75, 0.9882352941);
}
.btn:active {
  color: rgb(196, 196, 196);
  box-shadow: inset 4px 4px 12px rgba(23, 39, 64, 0.6549019608), inset -4px -4px 12px rgba(27, 47, 75, 0.9882352941);
}

.trainingMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121F33;
  position: relative;
  overflow: hidden;
  background-image: url("../lib/images/cardsBackground.svg");
  background-position: center;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .trainingMainContainer {
    background-position: center;
    height: 100%;
    width: 100%;
    background-attachment: unset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.trainingMainContainer__modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 95%;
  z-index: 3;
  -webkit-backdrop-filter: blur(10%) saturate(180%);
  backdrop-filter: blur(10%) saturate(180%);
  background-color: rgba(35, 59, 78, 0.666);
  border: 2px solid rgba(35, 59, 78, 0.552);
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .trainingMainContainer__modal {
    top: auto;
    left: 50%;
    width: 95%;
    height: 35%;
    transform: translate(-50%, 2%);
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .trainingMainContainer__modal {
    top: auto;
    left: 50%;
    width: 90%;
    transform: translate(-50%, 2%);
  }
}

.trainingCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  margin-bottom: clamp(1rem, 2vw, 1.5rem);
  overflow: hidden;
}

.titleTraining {
  margin: clamp(1rem, 2vw, 1.5rem);
  color: #121F33;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
}

.trainingCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: clamp(0.5rem, 40vw, 1rem);
  width: clamp(20rem, 35vw, 30rem);
  height: clamp(20rem, 33vh, 30rem);
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(10%) saturate(180%);
  backdrop-filter: blur(10%) saturate(180%);
  background-color: rgba(35, 59, 78, 0.666);
  border: 2px solid rgba(35, 59, 78, 0.552);
}
.trainingCard__entityIcon {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.trainingCard__entityIcon .iconEntity {
  height: clamp(3rem, 20vh, 5rem);
}
.trainingCard:hover .trainingCard__entityIcon {
  opacity: 0;
  transform: scale(0);
}
.trainingCard__informations {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: clamp(20rem, 15vw, 25rem);
  border-radius: 1rem;
}
.trainingCard__informations-entity,
.trainingCard__informations .turnCard {
  align-self: center;
  opacity: 0;
  width: auto;
  height: 40%;
}
.trainingCard:hover .trainingCard__informations-entity,
.trainingCard:hover .trainingCard__informations .turnCard {
  opacity: 1;
  transform: scale(1.1);
  text-align: center;
}
.trainingCard__informations-title {
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
}
.trainingCard__informations-field {
  align-self: center;
  color: white;
  text-align: center;
}
.trainingCard__informations-dates {
  align-self: center;
  color: white;
  padding: 0 0.3rem;
}
.trainingCard__informations-duration {
  align-self: center;
  color: white;
  padding: 0.3rem;
  font-style: italic;
}

.backOfCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  background-color: #121F33;
  box-shadow: inset 4px 4px 10px #0d1624, inset -4px -4px 10px #172842;
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(10%) saturate(180%);
  backdrop-filter: blur(10%) saturate(180%);
  background-color: rgba(35, 59, 78, 0.666);
  border: 2px solid rgba(35, 59, 78, 0.552);
  width: 100%;
  height: 100%;
}

.trainingDatas {
  position: absolute;
  top: auto;
  transform: translate3d(0, 0, 0);
  transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99%;
  height: clamp(20rem, 33vh, 30rem);
}
.trainingDatas__trainingCompleted {
  align-self: center;
  width: 80%;
  height: 85%;
  cursor: pointer;
}

.frontTrainingCard {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  border-radius: 1rem;
}
.frontTrainingCard:hover {
  background: linear-gradient(145deg, rgba(35, 59, 78, 0.666), #101c2e);
  box-shadow: 5px 5px 20px #0d1624, -5px -5px 20px #172842;
}

.openModal {
  position: relative;
  top: 0;
  left: 0;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageForModal {
  height: 70%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .imageForModal {
    width: 100%;
    height: 100%;
  }
}

.expandedImage {
  width: 85%;
  height: auto;
  padding: 1rem;
  align-self: center;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .expandedImage {
    width: 100%;
    height: 100%;
  }
}

.stacksMainContainer {
  width: 100vw;
  height: 100vh;
  background-color: #121F33;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.titleStacks {
  color: #c1d1d9;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
  margin: 1.5rem 0 0.7rem 0;
  text-align: center;
  padding: 0 0.5rem 0 0.5rem;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .titleStacks {
    margin: 1rem 0 0.5rem 0;
  }
}

.programmingLangContainer,
.frameworksContainer,
.DevAndTemplateTools,
.toolsContainer,
.overallToolsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 27%;
  width: 90%;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .programmingLangContainer,
  .frameworksContainer,
  .DevAndTemplateTools,
  .toolsContainer,
  .overallToolsContainer {
    margin: 0.5rem;
    height: clamp(15%, 15vh, 45%);
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .programmingLangContainer,
  .frameworksContainer,
  .DevAndTemplateTools,
  .toolsContainer,
  .overallToolsContainer {
    margin: 0.5rem;
    width: 90%;
    height: clamp(20%, 15vh, 45%);
  }
}
.programmingLangContainer__data,
.frameworksContainer__data,
.DevAndTemplateTools__data,
.toolsContainer__data,
.overallToolsContainer__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 1rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .programmingLangContainer__data,
  .frameworksContainer__data,
  .DevAndTemplateTools__data,
  .toolsContainer__data,
  .overallToolsContainer__data {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .programmingLangContainer__data,
  .frameworksContainer__data,
  .DevAndTemplateTools__data,
  .toolsContainer__data,
  .overallToolsContainer__data {
    margin: auto;
    height: clamp(15%, 15vh, 45%);
  }
}

.databaseContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  width: 45%;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .databaseContainer {
    margin: 0.5rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .databaseContainer {
    margin: 0.5rem;
    height: clamp(15%, 15vh, 45%);
  }
}

.lang,
.name {
  color: #c1d1d9;
  padding-bottom: 1rem;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .lang,
  .name {
    padding-bottom: 0.5rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .lang,
  .name {
    padding-bottom: 0.5rem;
  }
}

.databaseTool {
  color: #c1d1d9;
  padding: 0 0.5rem 0 0.5rem;
  text-align: center;
}

.nameDatabase {
  color: #c1d1d9;
  padding: 0 0.5rem 0 0.5rem;
  text-align: center;
}

.contactMainSection {
  width: 100vw;
  height: 100vh;
  background-color: #121F33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .contactMainSection {
    background-image: url("../lib/images/bg.webp");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .contactMainSection {
    background-image: url("../lib/images/bg.webp");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

.containerOverallContactElement {
  display: flex;
  height: 60%;
  width: 90%;
  margin-top: 5%;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .containerOverallContactElement {
    height: 80%;
  }
}

.sideOne {
  width: 50%;
  border-radius: 30% 0 0 0;
  background-image: url("../lib/images/bg.webp");
  background-position: center;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .sideOne {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .sideOne {
    display: none;
  }
}

.contactInformations {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
  -webkit-backdrop-filter: blur(40%) saturate(10%);
  backdrop-filter: blur(10%) saturate(90%);
  background-color: rgba(35, 59, 78, 0.766);
  border: 2px solid rgba(35, 59, 78, 0.552);
  border-radius: 0 0 30% 0;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .contactInformations {
    width: 100%;
    height: 90%;
    border-radius: 10%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .contactInformations {
    width: 100%;
    height: 95%;
    border-radius: 5%;
  }
}

.phone,
.location,
.email,
.github,
.linkedin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem;
  width: 80%;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .phone,
  .location,
  .email,
  .github,
  .linkedin {
    width: 60%;
  }
}

.contact,
.contactData {
  color: #c1d1d9;
}

.contactDataHref {
  color: #c1d1d9;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */