* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* min/max width & min/max height */
/* font size, padding, margin*/
/*Breakpoints*/
/* Rotation*/
/* SCSS HEX */
/* SCSS RGB */
/* SCSS Gradient */
.turnCard {
  color: white;
  align-self: flex-end;
  padding-top: 1rem;
  cursor: pointer;
}

.expand-arrow {
  position: fixed;
  right: clamp(1rem, 25vw, 1.5rem);
  top: clamp(0.5rem, 20vw, 0.5rem);
  z-index: 2;
  color: rgb(193, 209, 217);
  font-size: clamp(0.9rem, 2vw, 1rem);
  cursor: pointer;
}

.fa-window-close {
  color: white;
  font-size: clamp(0.9rem, 2vw, 1rem);
  align-self: flex-end;
  padding: clamp(0.5rem, 2vw, 0.7rem);
}

#landing-page {
  width: 100vw;
  height: 100vh;
  background-color: #121F33;
}

.container {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__background {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/bg.jpg");
  background-position: center;
  filter: drop-shadow(0px 25px 4px rgba(0, 0, 0, 0.15));
  background-size: cover;
  animation: background 0.7s ease-in;
}
@keyframes background {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.8;
  }
}

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texts {
  color: white;
  width: 90vw;
  text-align: center;
}

.overflow {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.text {
  display: inline-block;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
  margin: 0.2rem;
  padding: clamp(0.3rem, 1vw, 0.5rem);
  font-size: clamp(2rem, 10vw, 4rem);
}

.nextPageButton {
  position: absolute;
  top: 80%;
}

.projectMainContainer {
  width: 100%;
  height: 100%;
  background-color: #121F33;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectContainer__title {
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.5rem, 2vw, 2rem);
  color: rgb(138, 168, 182);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
}

.projectCarousel {
  height: 80%;
  width: 100%;
}

.carouselContainer {
  max-width: 1000px;
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectItem {
  display: none;
  width: 95%;
  margin: 1rem;
}
.projectItem__projectName {
  font-size: clamp(1.1rem, 2vw, 1.2em);
  font-family: "Montserrat", sans-serif;
  color: rgb(138, 168, 182);
  margin-top: 1rem;
}
.projectItem__projectDescription {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.9rem, 2vw, 1rem);
  color: rgb(138, 168, 182);
  padding: clamp(0.5rem, 1vw, 0.7rem);
  text-align: center;
}
.projectItem__imageProjectsGallery {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60%;
}

.projectVisual {
  width: 80%;
  height: clamp(45rem, 25vh, 60rem);
  margin-top: clamp(1rem, 2vw, 1.5rem);
  border-radius: 1rem;
  -o-object-fit: contain;
  object-fit: contain;
  box-shadow: -5px 5px 20px rgba(43, 80, 104, 0.5);
}
@media screen and (max-width: 600px) {
  .projectVisual {
    height: 45vh;
    width: 90%;
    -o-object-fit: cover;
    object-fit: contain;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .projectVisual {
    height: 55vh;
    width: 80%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

.stacks {
  font-family: "Montserrat", sans-serif;
  color: rgb(138, 168, 182);
  font-size: clamp(0.9rem, 2vw, 1rem);
  padding: clamp(0.5rem, 1vw, 0.7rem);
  text-align: center;
}

.showGalery {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.dotContainer {
  position: absolute;
  bottom: 0.2rem;
  cursor: pointer;
  width: 90%;
  height: 2rem;
  display: inline-block;
  transition: background-color 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  height: clamp(1rem, 5vh, 1.5rem);
  width: clamp(1.5rem, 5vw, 2rem);
  background-color: #121F33;
  border-radius: 30%;
  margin: 0.5rem;
  text-align: center;
  padding: 0.1rem;
  box-shadow: -5px 5px 20px rgba(138, 168, 182, 0.5);
  transition: background-color 0.6s ease;
  color: rgb(138, 168, 182);
}
.dot:hover, .dot:active {
  background-color: rgb(41, 69, 91);
  transform: scale(1.2);
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#description {
  width: 100vw;
  height: 100vh;
  background-color: #121F33;
  mix-blend-mode: overlay;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.describe {
  margin-top: 1em;
  font-size: 2.5em;
  color: white;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .describe {
    margin-top: 0.5em;
    font-size: 2em;
  }
}

.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.experience-title {
  justify-self: center;
  color: #121F33;
  margin: clamp(1rem, 2vw, 1.5rem);
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(43, 80, 104, 0.15), 0px 5px 10px rgba(37, 52, 67, 0);
}

.job-title,
.company,
.dateYear {
  font-family: "Montserrat", sans-serif;
  transform: translateY(-10%) translateZ(80px) scale(0.94);
  padding: clamp(0.5rem, 1vw, 0.7rem);
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: 1000px;
}

.company {
  font-size: clamp(1rem, 2vw, 1.1em);
}

.job-title {
  font-size: clamp(1.1rem, 2vw, 1.2em);
  padding: clamp(0.5rem, 1vw, 0.7rem);
  text-align: center;
}

.dateYear {
  font-size: clamp(0.9rem, 2vw, 1rem);
  padding: 0.2rem;
  text-align: center;
}

.dutyLists {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  font-size: clamp(0.9rem, 2vw, 1rem);
  padding: clamp(0.5rem, 1vw, 0.7rem);
}

.experience-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 90%;
  max-width: 1200px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .experience-box {
    width: 90%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .experience-box {
    width: 95%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .experience-box {
    width: 95%;
  }
}

.CardBox {
  height: clamp(20rem, 43vh, 30rem);
  width: clamp(16rem, 35vw, 30rem);
  margin: clamp(0.5rem, 40vw, 1rem);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
}

.experience {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.showBackCard {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.frontCard,
.backCard {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 300ms cubic-bezier(0.4, 0.2, 0.2, 1);
  text-align: center;
  border-radius: 1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  transform: translate3d(0, 0px, 0px) perspective(200px);
}

.frontCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: clamp(0.5rem, 1vw, 0.7rem);
  z-index: 2;
  background-color: #121F33;
  box-shadow: -5px 5px 10px rgb(0, 0, 0);
  border-radius: 1rem;
}

.backCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #121F33;
  color: white;
  transform: rotateY(180deg);
  padding: clamp(0.5rem, 1vw, 0.7rem);
  box-shadow: 0px 5px 20px rgb(43, 80, 104);
  border-radius: 1rem;
}

.btn {
  width: auto;
  height: auto;
  font-size: clamp(0.8rem, 2vw, 1rem);
  padding: clamp(0.5rem, 1vw, 0.7rem);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: rgb(38, 59, 79);
  color: white;
  box-shadow: inset -1px 3px 8px 5px #263b4f, 2px 2px 10px 0px #0B325E, inset -3px 10px 29px 14px rgba(3, 5, 8, 0.41);
}
.btn:focus {
  border-style: none;
  box-shadow: inset -1px 3px 8px 5px #263b4f, 2px 2px 10 px 0px #0B325E, inset -3px 10px 29px 14px rgba(41, 69, 91, 0.41);
}
.btn:active {
  border-style: none;
}

.trainingMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121F33;
  position: relative;
  overflow: hidden;
}
.trainingMainContainer__modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 65%;
  z-index: 3;
  background-color: rgba(41, 69, 91, 0.9);
  border-radius: 1rem;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .trainingMainContainer__modal {
    top: auto;
    left: 50%;
    width: 95%;
    max-height: 25%;
    transform: translate(-50%, 10%);
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .trainingMainContainer__modal {
    top: auto;
    left: 50%;
    width: 90%;
    transform: translate(-50%, 18%);
  }
}

.trainingCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  margin-bottom: clamp(1rem, 2vw, 1.5rem);
}

.titleTraining {
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin: clamp(1rem, 2vw, 1.5rem);
  font-family: "Montserrat", sans-serif;
  color: rgb(193, 209, 217);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
}

.trainingCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: clamp(0.5rem, 40vw, 1rem);
  width: clamp(20rem, 35vw, 30rem);
  height: clamp(20rem, 33vh, 30rem);
  background-image: url("/images/cardsBackground.svg");
  background-size: cover;
  border-radius: 1rem;
  box-shadow: -5px 5px 10px rgb(0, 0, 0);
}
.trainingCard:hover {
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
}
.trainingCard__entityIcon {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.trainingCard__entityIcon .iconEntity {
  height: clamp(3rem, 20vh, 5rem);
}
.trainingCard:hover .trainingCard__entityIcon {
  opacity: 0;
  transform: scale(0);
}
.trainingCard__informations {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: clamp(20rem, 15vw, 25rem);
}
.trainingCard__informations-entity,
.trainingCard__informations .turnCard {
  align-self: center;
  opacity: 0;
  width: auto;
  height: 40%;
}
.trainingCard:hover .trainingCard__informations-entity,
.trainingCard:hover .trainingCard__informations .turnCard {
  opacity: 1;
  transform: scale(1.1);
  text-align: center;
}
.trainingCard__informations-title {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.1rem, 2vw, 1.2em);
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.54);
}
.trainingCard__informations-field {
  align-self: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 2vw, 1.1em);
  text-align: center;
}
.trainingCard__informations-dates {
  align-self: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.9rem, 2vw, 1rem);
  padding: clamp(0.5rem, 1vw, 0.7rem);
}

.backOfCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  background-color: #121F33;
  box-shadow: -2px 2px 15px rgb(0, 0, 0);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.trainingDatas {
  position: absolute;
  top: auto;
  transform: translate3d(0, 0, 0);
  transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99%;
  height: clamp(20rem, 33vh, 30rem);
}
.trainingDatas__trainingCompleted {
  align-self: center;
  width: 80%;
  height: 85%;
  cursor: pointer;
}

.frontTrainingCard {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.openModal {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageForModal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.expandedImage {
  width: 100%;
  height: 90%;
  padding: 1rem;
  align-self: center;
}

.stacksMainContainer {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */